$Eczar: 'Eczar', serif;
$Eplilogue: 'Epilogue', sans-serif;
$Hahmlet: 'Hahmlet', serif;
$Lato: 'Lato', sans-serif;
$Lora: 'Lora', serif;
$Nunito: 'Nunito', sans-serif;
$Poppins: 'Poppins', sans-serif;
$Prompt: 'Prompt', sans-serif;
$Raleway: 'Raleway', sans-serif;
$Sora: 'Sora', sans-serif;

$gray-white: #F1F6F9;
$blueish-white: #d1e6f9;
$darkened-blue: #394867;
$black-n-blue: #212A3E;
$grayed-blue: #9BA4B5;
$hot-pink: #FB2576;
$leaf-green: #54B435;
$danger-red: #db0000;


$side-gap: 3vw;