@use './styles/vars';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: vars.$Eczar;
}

a{
  text-decoration: none;
  color: inherit;
}

body{
  background-color: vars.$gray-white;
}