@use './styles/vars';

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: vars.$Eczar;
}

a{
  text-decoration: none;
  color: inherit;
}

body{
  background-color: vars.$gray-white;
}

.info-page{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.25rem;
  font-weight: 600;
  width: 100%;
  min-height: inherit;

  &.danger{
    color: vars.$danger-red;
  }
}